@font-face {
    font-family: pixelFont;
    src: url(../assets/font/PixelBookOut-Regular.ttf);
}

body { 
    margin: 0;
    overflow: hidden;
}

canvas {
    display: none;
    width: 100%;
    max-height: 100vh;
}

.main-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../assets/bg/city-scape.png");
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;

    animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      background-position: -10000px 0;
    }
  }

label{
    font-family: pixelFont;
    font-weight: 600;
    font-size: 10rem
}

p{
    font-family: pixelFont;
    font-weight: 400;
    font-size: 2.25rem;
    color: white;
    border-radius: 2rem;
    margin: 5 10 5;
}

button {
    cursor: pointer;
    border: 0.1rem solid #464848;
    border-radius: 0.5rem;
    background-color: transparent;
    height: 50px;
    width: 200px;
    font-size: 1.5em;
}